<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Merci de choisir une date</h4>
        <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
        <div>
        <button class="btn btn-sm btn-outline-primary mr-2" (click)="GetProducts()">Afficher liste produits</button>
      </div>
        <h4 class="card-title">Liste des produits</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Name
              </th>
              <th>
                Day
              </th>
              <th>
                Tagline
              </th>
              <th>
                Slug
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let post of posts">
                <td>{{post.name}}</td>
              
                <td>{{post.day}}</td>
            
             
                <td>{{post.tagline}}</td>
            
              
                <td>{{post.slug}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card ">
            <div class="card-header ">
              <h5 class="card-title">Produits Par Catégorie</h5>
            </div>
            <div class="card-body ">
              <canvas id="chartEmail"></canvas>
            </div>
            <div class="card-footer ">
              <div class="legend">
                <i class="fa fa-circle text-primary"></i> 
                <i class="fa fa-circle text-warning"></i> 
                <i class="fa fa-circle text-danger"></i> 
                <i class="fa fa-circle text-gray"></i>
              </div>
              <hr>
              <div class="stats">
                <i class="fa fa-calendar"></i> Nombre de produits total
              </div>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>
 
</div>
